<!DOCTYPE html>
<html>
  <body style="background-color: #343148ff">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
        @font-face {
        font-family: 'JetBrains';
        src: url('/static/JetBrainsMono-Regular.ttf');
        font-weight: normal;
        }
        h1, h2, p {
        color:#D7C49EFF;
      }
    </style>

    <!-- image background-->
    <style>
      body {
        background-image: url("static/background.png");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
        font-family: 'JetBrains', sans-serif;
      }
    </style>
    <h2>File uploaded successfully</h2>
    <p>File Name: {{name}}</p>
    <p>Download your autotuned audio</p>
    <p>
      <a
        class="btn btn-success"
        href="{{url_for('download_file')}}"
        ;
        style="background-color: #d7c49eff"
        ;
        >Download</a
      >
    </p>
    <p>
      <audio controls>
        <source src="/static/output.wav" />
      </audio>
    </p>
    &nbsp;
    <p>
      <button
        style="background-color: #d7c49eff;
        font-family: JetBrains;"
        onclick="window.location.href = '/';"
      >
        Try again! 
      </button>
    </p>
  </body>
</html>


