<!DOCTYPE html>
<!-- activate DARK mode https://getbootstrap.com/docs/5.3/customize/color-modes/ -->
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <title>Autotune for people</title>

    <link href="../static/css/bootstrap.css" rel="stylesheet">
</head>
<body>
    <div class="container-fluid mt-3 bg-dark text-white">
        <h1 class="text-center"> A4P</h1>
        <h4 class="text-center"> Autotune for People</h4>
    </div>
    <div class="container-fluid mt-3 text-white custom-bg">
        <div class="row mt-5">
            <div class="col-sm-3 mt-4">    
                <p class="fs-5"> 1. Select audio</p>
                <form action="/success" method="post" enctype="multipart/form-data">
                <input type="file" name="file" />
            </div>
            <div class="col-sm-3 mt-4"> 
                <p class="fs-4"> 2. Key </p>
                <select name="key_select" class="Input">
                    {% for o in data %}
                    <option value="{{ o.key }}">{{ o.key }}</option>
                    {% endfor %}
                </select>
                <p> </p>
                <p class="fs-5"> Scale mode </p>
                <select name="mode_select" class="Input">
                    {% for o in data1 %}
                    <option value="{{ o.mode }}">{{ o.mode }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-sm-3 mt-4"> 
                <p class="fs-5"> 3. Upload audio </p>
                <input type="submit" value="Upload">
                </form>
            </div>
            <div class="col-sm-3 mt-4"> 
                <p class="fs-6">
                A4P (Autotune for People) is free. Pitch correction effects are used to tune signals that are slightly out of key. Perhaps the most useful on vocal tracks, but can be used on anything!
                </p>
            </div>
        </div>
    </div>
    <script src="../static/js/scripts.js"></script>
    <script src="../static/js/bootstrap.bundle.js"></script>
</body>
</html>
